<div class="main">
                <p>Hello {{name}}, you have been greeted {{count}} time(s)</p>
<button type="submit"> <a href="/back">BACK</a></button>


</div>







{{!-- app.get('/the-route', Routes.flashMessages);


app.get('/', Routes.home)

app.post('/greet', Routes.greet)

app.get('/counter/:user', Routes.counter)

app.get('/greeted', Routes.greeted)

app.get('/reset', Routes.reset)

app.get('/back', Routes.back) --}}