body{
    
    background-color:lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    

    
    
}
.container{
    size: 6em;
    border: 0.15em solid lightblue;
    
    
}
.info{
    color: red;
}
button{
<<<<<<< HEAD
    font-size: x-large;
}
=======
    font-size:x-large;
}
>>>>>>> 10e7cd25a0fffcc2d20a9dcf31995087ea708fc0
