body{
    
    background-color:lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    
    
}
.container{
    border: 0.1em solid lightblue
}
.info{
    color: red;
}